#home {
    margin-bottom: 5%;
    text-align: center;
    .btn {
        margin: 2% auto;
        border-radius: 2px;
        background-color: #ED6C1C;
        color: white;
    }
    h4,
    h5 {
        text-decoration: none;
    }
    .home-images {
        margin-top: -2%;
        img {
            clear: both;
            margin: 0 5px;
            border: 1px solid black;
        }
    }
}
