.navbar {
    display: flex;
    background: white;
    border-bottom: 1px solid #ED6C1C;
    box-shadow: 1px 1px 14px -3px #ED6C1C;
    a {
        color: black;
        font-size: 16px;
        margin-top: 15%;
    }
    .nav > li > a {
        cursor: pointer;
        transition: color 0.2s;
        &.active {
            color: darken(#ED6C1C, 10%);
        }
        &:hover {
            background: none;
            color: #ED6C1C;
        }
        &:focus {
            background: none;
        }
    }
    h1 {
        clear: both;
        width: 100%;
        margin: 1% auto;
        text-align: center;
        font-family: 'Hammersmith One', sans-serif;
        letter-spacing: 25px;
    }
}
