.narration {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.scene-dialog {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.scene-line,
.narration {
    margin-top: 15px;
}

hr {
    width: 90%;
    border: 2px solid #ED6C1C;
}

h4,
h5 {
    text-align: center;
    text-decoration: underline;
}
